  /*MEDIA QUERIES MAIN SIZES*/

/*LARGE*/
/*@media (min-width: 1470px;) {
.class { property: value; 
}
}*/

/*MEDIUM*/
/*@media (min-width: 1280px; max-width: 1469px;) {
.class { property: value; 
}
}*/

/*SMALL*/
/*@media (min-width: 768px; max-width: 1279px;) {
.class { property: value; 
}
}*/

/*EXTRA SMALL*/
/*@media (max-width: 767px;) {
.class { property: value; 
}
}
*/


/*TEXT STYLES*/

@font-face {font-family: moderat; src: url(font/moderat.otf);}
@font-face {font-family: moderat-bold; src: url(font/moderat-bold.otf);}

h1 {
  font-size: 78px; 
  line-height: 82px;
  font-family: 'moderat-bold', sans-serif;
  text-transform: uppercase;
  line-height: 88px;
  padding-top: 0;
  margin-top: 0;
  color: #FF4433;
}

@media (max-width: 768px) {
  h1 {
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 416px) {
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
}

h2 {
  font-size: 38px; 
  line-height: 42px;
  font-family: 'moderat-bold', sans-serif;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  color: #FF4433;
}

h3 {
  font-size: 24px; 
  line-height: 26px;
  font-family: 'moderat-bold', sans-serif;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  color: #FF4433;
}

h4 {
  font-size: 16px; 
  line-height: 24px;
  font-family: 'moderat', sans-serif;
  text-transform: uppercase;
  padding-top: 0;
  margin-top: 0;
  color: #FF4433;
}

p {
  font-size: 16px;
  line-height: 21px;
  font-family: 'moderat', sans-serif;
  padding-top: 0;
  margin-top: 0;
}

ul {
  font-family: 'moderat-bold', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}


#email-link:hover {
  /*color: #FF4433;*/
  color: #808080;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}


#email-link-footer {
  opacity: 1;
  color: #fff;
}


#email-link-footer:hover {
  opacity: .5; 
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#email-link-contact:hover {
  opacity: .7; 
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.login-link {
  text-decoration: underline;
}

.login-link:hover {
    opacity: .7; 
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}




/*GENERAL*/

* {box-sizing: border-box; font-family: "moderat", sans-serif;}

a {text-decoration: none;color: inherit;}

a:visited {color: inherit;}

html {padding: 0;margin: 0;}

html body{
  position: relative;
  margin: 0;
  padding: 0; 
  width: 100%;
  height: 100%;
  font-family: 'moderat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}



/*TRANSITIONS*/

/*  FADE IN ANIMATION  */

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}


.fadeInBlock {
    opacity: 0;
}



/*TEXT ALIGN*/
.text-align-center {text-align: center;}
.text-align-left {text-align: left;}
.text-align-right {text-align: right;}


/*CLEARFIX*/

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}



/*HIDDEN*/

@media (max-width: 768px) {
.hidden-xs { display: none; 
}
}

@media (max-width: 1280px) {
.hidden-sm { display: none; 
}
}

@media (max-width: 1469px) {
.hidden-md { display: none; 
}
}

@media (min-width: 1470px) {
.hidden-lg { display: none; 
}
}


/*VISIBLE*/

@media (max-width: 768px) {
.visible-xs {  display: all; 
}
}

@media (max-width: 1280px) {
.visible-sm { display: all; 
}
}

@media (max-width: 1469px) {
.visible-md { display: all; 
}
}

@media (min-width: 1470px) {
.visible-lg { display: all; 
}
}


/*MOBILE NAVIGATION*/

@media (max-width: 929px) {
.hidden-xs-nav {
display: none;
}
.visible-xs-nav {
display: all;
}
}

@media (min-width: 930px) {
.hidden-lg-nav {
display: none;
}
}


.mobile-nav-container {
  position: fixed;
  top:0;
  width: 100%;
  background-color: #FF4433;
  height: 78px;
  line-height: 78px;
  text-align: center;
  box-sizing: border-box;
  z-index: 100;
}

.mobile-nav-inner {
  margin: 0 auto;
  max-width: calc(100% - 52px); 
  z-index: 200;
}

.mobile-nav-logo {
  margin-top: 20px;
}

@media (min-width: 541px) and (max-width: 767px) {
.mobile-nav-logo {
  margin-left: 0px;
  margin-right: 0px;
  display: inline-block;
}
}

.mobile-nav-button {
  margin-top: 20px;
  cursor: pointer;
}

.mobile-nav-ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.mobile-nav-li {line-height: 40px;}

.hidden { display: none;}

#mobile-nav {
  display: none;
  position: absolute;
  top: 78px;
  left: -20px;
  width: calc(100% + 40px);
}

.mobile-nav-item {
  clear: both;
  width: 100%;
  position: relative;
 /* padding-bottom: 10px;*/
  background-color: #FF4433;
  font-family: 'moderat-bold', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.mobile-nav-item:active {
  color: #FF4433;
}  


.mobile-nav-item-first {
  padding-top: 10px;
}

.mobile-nav-item-last {
  padding-bottom: 10px;
}





/*NAVIGATION*/

header {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 10;
}

header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100px;
  line-height: 100px;
  float: right;
  height: 100%;
}

header ul li {
  text-decoration: none;
  font-size: 15px;
  display: inline-block;
  color: #fff;
  margin: 0;
  padding: 0;
  margin-left: 60px;
  height: 100px;
  line-height: 100px;
  border-bottom: 5px solid rgba(255,255,255,0);
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

header ul li:not(:last-child):hover {   
  border-bottom: 5px solid rgba(255,255,255,1);
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

header ul li a {
  font-family: "moderat-bold";
  text-transform: uppercase;
  opacity: 1;
  line-height: 100px;
}

.current-page {   
  border-bottom: 5px solid rgba(255,255,255,1);
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.logo-header {
  height: 48px;
  margin: 26px 0 26px 0;
  display: inline-block;
  float: left;
  opacity: 1;
  transition: .15s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.logo-header:hover {
  opacity: .5;
}

.login {
  border: 1px solid rgba(255,255,255,.5);
  border-radius: 0px;
  line-height: 1; 
  height: 50px; 
  padding: 17px 30px 17px 30px;
  transition: .2s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.login:hover {
  background-color: #FFf;
  border: 1px solid rgba(255,255,255,1);
  color: #FF4433;
}




/*LAYOUT*/

.main {
  width: 100%;
  margin-top: 100px; /*To clear the nav bar*/
  position: relative;
}

@media (max-width: 930px) {
  .main {
    margin-top: 78px; /*To clear the smaller nav bar*/
  }
}

.block {
  width: 100%;
  position: relative;
  clear: both;
  overflow: hidden;
  padding: 140px 0;
}

@media (max-width: 1200px) {
  .block {
    width: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .block {
    width: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 50px 0;
  }
}

@media (max-width: 768px) {
  .block {
    width: 100%;
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 50px 0;
}
}



.block-inner {
  width: 1340px;
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: hidden;
}

@media (max-width: 1469px) {
.block-inner {  
  width: calc(100% - 120px); 
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: hidden;
}
}

@media (max-width: 768px) {
  .block-inner {
    width: calc(100% - 52px); 
    margin: 0px 26px;
    overflow: hidden;
}
}

.block-half-left { 
  width: 50%; 
  float: left;
  position: relative;
  overflow: hidden; 
}

@media (max-width: 768px) {
  .block-half-left {
    width: 100%; 
    float: left;
    position: relative;
    overflow: hidden; 
  }
}

.block-half-left-inner { 
  width: 670px; 
  float: right;
  position: relative; 
  overflow: hidden;
}

@media (max-width: 1469px) {
  .block-half-left-inner { 
  width: calc(100% - 60px); 
  float: right;
  position: relative; 
  overflow: hidden;
}
}

@media (max-width: 768px) {
  .block-half-left-inner { 
  width: 100%; 
  float: left;
  position: relative; 
  overflow: hidden;
}
}

.block-half-right { 
  width: 50%; 
  float: right; 
  position: relative;
  overflow: hidden;
  height:100%;
}

@media (max-width: 768px) {
  .block-half-right {
    width: 100%; 
    float: left;
    position: relative;
    overflow: hidden; 
  }
}

.block-half-right-inner { 
  width: 670px; 
  float: left; 
  position: relative;
  overflow: hidden;
}

@media (max-width: 1469px) {
  .block-half-right-inner { 
  width: calc(100% - 60px); 
  float: right;
  position: relative; 
  overflow: hidden;
}
}

@media (max-width: 768px) {
  .block-half-right-inner { 
  width: 100%; 
  float: left;
  padding: 30px;
  position: relative; 
  overflow: hidden;
}
}

.height-100 {
  position: relative;
  height: 100%;
}

.margin-auto-0 {
  position: relative;
  margin: auto 0;
}



/*POSITIONING*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}




/*IMAGE HEADERS*/

.header-homepage {
  height: 80%;
  background-image: url(bgs/header-image-hero-retina.jpg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
}

.header-homepage:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+75&1+0,0+75 */
  background: -moz-linear-gradient(rightright, rgba(255,255,255,.8) 0%, rgba(255,255,255,0) 70%); /* FF3.6-15 */
  background: -webkit-linear-gradient(rightright, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 70%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(255,255,255,.8) 0%,rgba(255,255,255,0) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }

@media (max-width: 579px) {
  .header-homepage:before  {
  background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0));
  }
}

@media (max-width: 1055px) {
  .header-homepage {background-image: url(bgs/header-image-hero-mobile.jpg);}}

@media (max-width: 768px) {
  .header-homepage {height: 540px;}}

@media (max-width: 768px) {
  .header-homepage h1 {margin-bottom: 28px;}}

@media (max-width: 414px) {
  .header-homepage {height: 438px;}}

.header-homepage-content {
  position: relative;
  height: 100%;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .header-homepage-content {padding-top: 0px;}}

.header-homepage p {
  width: 60%;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 70px;
  /*color: #808080;*/ /*75 grey*/
  color: #FF4433; /*Orange*/
}

@media (max-width: 768px) {
  .header-homepage p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 512px) {
  .header-homepage p {width: 100%;}}

@media (max-width: 768px) {
  .header-homepage .button {
    display: block;
    width: 300px;
    margin-bottom: 10px;
  }
}

.page-header {
  height: 550px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .page-header {height: 300px;}}


/*this don't seem right*/
.page-header h1 {margin-top: 8%;}


@media (max-width: 1790px) {
.page-header h1  {
    margin-top: 5%;
    width: 39%;}
}


@media (max-width: 1330px) {
.page-header h1 {
    margin-top: 280px;
    width: 100%;}
}

@media (max-width: 848px) {
.page-header h1 {
    margin-top: 190px;
    width: 100%;}
}


@media (max-width: 768px) {
.page-header h1 {
    margin-top: 150px;
    width: 100%;}
}

@media (max-width: 508px) {
.page-header h1 {
    margin-top: 120px;
    width: 100%;}
}






#about-header {background-image: url(bgs/header-image-about.jpg);
background-position: right top;}
#owners-header {background-image: url(bgs/header-image-owners.jpg);}
#tenants-header {background-image: url(bgs/header-image-tenants.jpg);}
#contact-header {background-image: url(bgs/header-image-contact.jpg);}

.intro-block p {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 24px;
}


/*HIDDEN INTRO BLOCK*/

@media (min-width: 580px) {
  .hide-580px-up {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 580px) {
  .show-580px-up {
    visibility: visible;
    display: all;
  }
}

@media (max-width: 579px) {
.hide-579px-down { 
  visibility: hidden; 
  display: none;
}
}

@media (max-width: 579px) {
.show-579px-down { 
  visibility: visible; 
  display: all;
}
}



/*COLUMNS*/
.col-1-5 {width: 20%; float: left;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {float: left;}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media (max-width: 1469px) {
  .col-4-md { width: 33.33%; }
  .col-6-md { width: 50%; }
  .col-12-md { width: 100%; 
}
}

@media (max-width: 1200px) {
  .col-12-1200px { width: 100%; }
}

@media (max-width: 1280px) {
  .col-4-sm { width: 33.33%; }
  .col-6-sm { width: 50%; }
  .col-8-sm { width: 66.66%; }
  .col-12-sm { width: 100%; 
}
}

@media (max-width: 768px) {
  .col-6-xs { width: 50%; }
  .col-12-xs { width: 100%; 
}
}

@media (max-width: 500px) {
  .col-12-500px { width: 100%;
}
}

@media (max-width: 570px) {
  .col-12-570px { width: 100%;
}
}



@media (max-width: 940px) {
  .col-6-940px {
    width: 50%;
    float: left;
    display: inline-block;
}
}

@media (max-width: 1000px) {
  .col-12-1000px {
    width: 100%;
    float: left;
    display: inline-block;
}
}

@media (max-width: 588px) {
  .col-12-588px {
    width: 100%;
}
}



/*MARGINS*/

.no-margin { margin: 0; }

.margin-10 { margin: 10px; }

.margin-top-30 { margin-top: 30px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-100 { margin-top: 100px; }
.margin-top-140 { margin-top: 140px; }

.margin-bottom-30 { margin-bottom: 30px; }
.margin-bottom-60 { margin-bottom: 60px; }
.margin-bottom-100 { margin-bottom: 100px; }
.margin-bottom-140 { margin-bottom: 140px; }

@media (max-width: 1280px) {
  .margin-bottom-60-sm {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .margin-bottom-60-xs {
    margin-bottom: 60px;
  }
  .margin-bottom-30-xs {
    margin-bottom: 30px;
  }
  .margin-top-90-sm { 
    margin-top: 90px;  
  }
}


@media (max-width: 375px) {
    .margin-top-60-xs { 
    margin-top: 60px; 
  }

}

@media (max-width: 500px) {
    .margin-bottom-10-sm { 
   margin-bottom: 5px; 
  }
}



.margin-right-30 { margin-right: 30px; }
.margin-right-60 { margin-right: 60px; }
.margin-right-100 { margin-right: 100px; }
.margin-right-140 { margin-right: 140px; }

.margin-left-30 { margin-left: 30px; }
.margin-left-60 { margin-left: 60px; }
.margin-left-100 { margin-left: 100px; }
.margin-left-140 { margin-left: 140px; }

.no-space-after { margin-bottom: 0; }



/*PADDING*/

.no-padding {padding: 0;}

.padding-top-bottom-60 { padding-top: 60px; padding-bottom: 60px; }
.padding-top-bottom-80 { padding-top: 80px; padding-bottom: 80px; }
.padding-top-bottom-100 { padding-top: 100px; padding-bottom: 100px; }
.padding-top-bottom-140 { padding-top: 140px; padding-bottom: 140px; }

@media (max-width: 768px) {
  .padding-top-bottom-60-sm { 
    padding-top: 60px; padding-bottom: 60px; 
  }
}

@media (max-width: 768px) {
  .padding-top-bottom-50-sm { 
    padding-top: 50px; padding-bottom: 50px; 
  }
}



.padding-top-30 { padding-top: 30px; }
.padding-top-60 { padding-top: 60px; }

.padding-bottom-30 { padding-bottom: 30px; }
.padding-bottom-60 { padding-bottom: 60px; }

.padding-right-30 { padding-right: 30px; }
.padding-right-60 { padding-right: 60px; }

.padding-left-30 { padding-left: 30px; }
.padding-left-60 { padding-left: 60px; }

@media (max-width:768px) {
.padding-left-right-30-sm { padding: 40px 30px 40px 30px; }
}

@media (max-width:768px) {
.no-padding-sm {padding: 0;}
.padding-left-30-sm { padding-left: 30px; }
.padding-bottom-30-sm { padding-bottom: 30px; }
.padding-right-30-sm  { padding-right: 30px; }
}




/*FLOATS*/

.float-left {float: left;}
.float-right {float: right;}  





/*BUTTONS*/

.button {
  text-align: center;
  font-family: "moderat-bold";
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1;
  color: #fff;
  display: inline-block;
  padding: 25px 32px 25px 32px;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 768px) {
  .button {
    font-size: 14px;
    padding: 20px 30px 20px 30px;
  }
}


.button:hover { background-color: #FF7366; color: #fff;}




/*BACKGROUND COLOURS*/

.orange {background-color: #FF4433;}
.orange-90 {background-color: #FF5747;}
.orange-80 {background-color: #FF695C;}
.black-3 {background-color: #F7F7F7}
.black-5 {background-color: #F7F7F7;}
.slate {background-color: #404040;}




/*TEXT COLOURS*/

.orange-text {color: #FF4433 !important;}
.white-text {color: #fff !important;}
.slate-text {color: #404040 !important;}




/*ICONS*/

.icon {
  height: 44px;
  margin-bottom: 30px;
}





/*HOME SLIDER*/
.main-carousel {
  width: 100%;
}

.carousel-cell {
  width: 100%;
  height: 780px;  
  counter-increment: gallery-cell;
}

@media (max-width: 768px) {
  .carousel-cell{
      height: 758px;
  }
}

.slider-bg { 
  max-width: 100%;
  background-size: cover; 
  background-position: center;
  height: 100%;
}

@media (max-width: 768px) {
  .slider-bg {
    max-width: 100%;
    background-size: cover; 
    background-position: center;
    height: 400px;
  }
}

@media (max-width: 568px) {
  .slider-bg {
    visibility: hidden;
    height: 0;
  }
    .carousel-cell{
      height: 650px;
  }
}

@media (max-width: 378px) {
  .slider-bg {
    visibility: hidden;
    height: 0;
  }
    .carousel-cell{
      height: 810px;
  }
}



#peace-of-mind {background-image: url(bgs/home-slider-peace-of-mind.jpg); background-position: bottom;}
#best-tenants {background-image: url(bgs/home-slider-best-tenants.jpg); background-position: top;}
#guarantee-service {background-image: url(bgs/home-slider-guarantee-service.jpg);}
#property-care {background-image: url(bgs/home-slider-property-care.jpg);}

@media (max-width: 768px) {
  #best-tenants {
    background-position: top;
  }
}


.why-haus-heading {
  position: absolute;
  left: 0;
  height: 20px;
  width: 100%;
  float: left;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
}

@media (max-width: 1469px) {
  .why-haus-heading {
    margin-top: 0px;
  }
}

@media (max-width: 768px) {
  .why-haus-heading {
    margin-top: 28px;
  }
}

@media (max-width: 768px) {
  .why-haus-heading h3 {
   font-size: 18px;
  }
}

@media (max-width: 375px) {
  .why-haus-heading {
    margin-top: 0px;
  }
}



/*TESTIMONIAL SLIDERS*/

.testimonial-carousel {
  width: 100%;
  
}

.testimonial-carousel-cell {
  width: 100%;
  counter-increment: gallery-cell;
}



.testimonial-slider-heading {
  position: absolute;
  margin-top: 140px;
  left: 0;
  width: 100%;
  float: left;
  display: inline-block;
  z-index: 2;
  background-color: transparent;
}

@media (max-width: 1200px) {
  .testimonial-slider-heading {
    position: absolute;
    margin-top: 100px;
    margin-left: 100px;
    left: 0;
    width: 100%;
    float: left;
    display: inline-block;
    z-index: 2;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .testimonial-slider-heading {
    position: absolute;
    margin-top: 60px;
    margin-left: 30px;
    left: 0;
    width: 100%;
    float: left;
    display: inline-block;
    z-index: 2;
    background-color: transparent;
  }
}

.testimonial-text {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .testimonial-text {
  margin-top: 60px;
}
}

@media (max-width: 724px) {
  .testimonial-text {
  margin-top: 120px;
}
}

@media (max-width: 430px) {
  .testimonial-text {
  margin-top: 150px;
  font-size: 18px;
  line-height: 24px;
}
}

.testimonial-name {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "moderat-bold";
  line-height: 26px;
  color: #fff;
  margin-bottom: 0;
}

.testimonial-role {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "moderat";
  line-height: 26px;
  color: #fff;
  margin-bottom: 0;
}


/*TEAM IMAGES HOME*/

.img-team {
  max-width: 220px;
  margin-bottom: 30px;
}

@media (max-width: 1280px) {
  .img-team {
    max-width: 346px;
  }
}

@media (max-width: 1180px) {
  .img-team {
    max-width: 300px;
  }
}

@media (max-width: 1046px) {
  .img-team {
    max-width: 280px;
  }
}

@media (max-width: 990px) {
  .img-team {
    max-width: 240px;
  }
}

@media (max-width: 888px) {
  .img-team {
    max-width: 200px;
  }
}

@media (max-width: 768px) {
  .img-team {
    max-width: 94%;
  }
}

@media (max-width: 588px) {
  .img-team {
   width: 100%;
  }
}








/*TEAM IMAGES ABOUT*/
.about-team-img {
  max-width: 400px;
  margin-bottom: 30px;
}

@media (max-width: 1379px) {
  .about-team-img {
    max-width: 360px
  }
}

@media (max-width: 1240px) {
  .about-team-img {
    max-width: 300px
  }
}

@media (max-width: 1060px) {
  .about-team-img {
    max-width: 260px
  }
}

@media (max-width: 940px) {
  .about-team-img {
    max-width: 94%;
  }
}

@media (max-width: 588px) {
  .about-team-img {
    max-width: 100%;
  }
}





/*ABOUT PAGE*/
.bg-image-cover {
/*  height: 100%;*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

#our-story-bg-image { 
  background-image: url(bgs/about-our-story.jpg); 
  height: 940px; /*this height will need to be adjusted depending on amount of text next to it*/
}

@media (max-width: 1280px) {
  #our-story-bg-image { 
  background-image: url(bgs/about-our-story.jpg); 
  height: 1000px;
}
}

@media (max-width: 1140px) {
  #our-story-bg-image { 
  background-image: url(bgs/about-our-story.jpg); 
  height: 1050px;
}
}

@media (max-width: 1050px) {
  #our-story-bg-image { 
  background-image: url(bgs/about-our-story.jpg); 
  height: 1340px;
}
}

@media (max-width: 820px) {
  #our-story-bg-image { 
  background-image: url(bgs/about-our-story.jpg); 
  height: 500px;
}
}





.stamp-container {
  height: 100%;
}

#stamp {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#our-story-text-block {}

@media (max-width: 820px) {
  #our-story-text-block {
    display: block;
    width: 100%;
  }
}

#our-story-img-block {}


@media (max-width: 820px) {
  #our-story-img-block {
    display: block;
    width: 100%;
  }
}



/*PROCESS GRIDS*/
.process-step {
  position: relative;
  float: left;
  height: 315px;
  width: 315px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}

.process-step-container {
  background-color: #F2F2F2;
  float: left;
  margin: 10px;
  height: 315px;
  width: 315px;
}

@media (max-width: 806px) {
  .process-step {
    height: 280px;
    width: 280px;
  }
  .process-step-container {
    background-color: #F2F2F2;
    float: left;
    margin: 10px;
    height: 280px;
    width: 280px;
  }
}

@media (max-width: 662px) {
  .process-step {
    height: 350px;
    width: 350px;
  }
  .process-step-container {
    background-color: #F2F2F2;
    float: left;
    margin: 0 0 20px 0;
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 500px) {
  .process-step {
    height: calc(100vw - 60px);
    width: calc(100vw - 60px);
  }
  .process-step-container {
    background-color: #F2F2F2;
    float: left;
    margin: 0 0 20px 0;
    height: calc(100vw - 60px);
    width: calc(100vw - 60px);
  }
}

@media (max-width: 430px) {
  .process-step {
    height: calc(100vw - 60px);
    width: calc(100vw - 60px);
  }
  .process-step-container {
    background-color: #F2F2F2;
    float: left;
    margin: 0 0 20px 0;
    height: calc(100vw - 60px);
    width: calc(100vw - 60px);
  }
}

.process-heading {
  font-family: "moderat-bold";
  font-size: 20px;
  line-height: 26px;
  color: #FF4433;
  text-align: center;
  z-index: 10;
  padding: 0 50px;
  vertical-align: middle;
  margin-top: calc(50% - 28px);
}

.process-info {
  margin-top: calc(50% - 55px);
  text-align: center;
  z-index: 10;
  padding: 0 30px;
  vertical-align: middle;
}

.process-info p {
  font-family: "moderat";
  font-size: 16px;
}

@media (max-width: 375px) {
  .process-info p{
    font-family: "moderat";
    font-size: 16px;
    margin-top: 0;
  }
}

.icon-see-container{
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 16px;
  width: 16px;
}

.icon-see {
  position: absolute;
  height: 16px;
  width: 16px;
}

#icon-see-more {
  position: absolute;
  z-index: 1;
}

#icon-see-less {
  position: absolute;
  z-index: 500;
}


/*OWNERS*/
/*1*/
#process-step-1-owners {
  background-image: url(bgs/process-1.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute; 
}
#process-step-1-owners:hover {opacity: 0;}

#process-step-1-owners-info {
  background-image: url(bgs/process-1-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 10;
}
#process-step-1-owners-info:hover { opacity: 1;}



/*2*/
#process-step-2-owners {
  background-image: url(bgs/process-2.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-2-owners:hover {opacity: 0;}

#process-step-2-owners-info {
  background-image: url(bgs/process-2-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-2-owners-info:hover { opacity: 1;}



/*3*/
#process-step-3-owners {
  background-image: url(bgs/process-3.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-3-owners:hover {opacity: 0;}

#process-step-3-owners-info {
  background-image: url(bgs/process-3-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-3-owners-info:hover { opacity: 1;}




/*4*/
#process-step-4-owners {
  background-image: url(bgs/process-4.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-4-owners:hover {opacity: 0;}

#process-step-4-owners-info {
  background-image: url(bgs/process-4-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-4-owners-info:hover { opacity: 1;}


/*5*/
#process-step-5-owners {
  background-image: url(bgs/process-5.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-5-owners:hover {opacity: 0;}

#process-step-5-owners-info {
  background-image: url(bgs/process-5-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-5-owners-info:hover { opacity: 1;}




/*6*/
#process-step-6-owners {
  background-image: url(bgs/process-6.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-6-owners:hover {opacity: 0;}

#process-step-6-owners-info {
  background-image: url(bgs/process-6-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-6-owners-info:hover { opacity: 1;}




/*7*/
#process-step-7-owners {
  background-image: url(bgs/process-7.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-7-owners:hover {opacity: 0;}

#process-step-7-owners-info {
  background-image: url(bgs/process-7-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-7-owners-info:hover { opacity: 1;}


/*8*/
#process-step-8-owners {
  background-image: url(bgs/process-8.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-8-owners:hover {opacity: 0;}

#process-step-8-owners-info {
  background-image: url(bgs/process-8-owners.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-8-owners-info:hover { opacity: 1;}





/*TENANTS*/
/*1*/
#process-step-1-tenants {
  background-image: url(bgs/process-1.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute; 
}
#process-step-1-tenants:hover {opacity: 0;}

#process-step-1-tenants-info {
  background-image: url(bgs/process-1-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 10;
}
#process-step-1-tenants-info:hover { opacity: 1;}



/*2*/
#process-step-2-tenants {
  background-image: url(bgs/process-2.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-2-tenants:hover {opacity: 0;}

#process-step-2-tenants-info {
  background-image: url(bgs/process-2-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-2-tenants-info:hover { opacity: 1;}



/*3*/
#process-step-3-tenants {
  background-image: url(bgs/process-3.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-3-tenants:hover {opacity: 0;}

#process-step-3-tenants-info {
  background-image: url(bgs/process-3-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
  z-index: 10;
}
#process-step-3-tenants-info:hover { opacity: 1;}




/*4*/
#process-step-4-tenants {
  background-image: url(bgs/process-4.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-4-tenants:hover {opacity: 0;}

#process-step-4-tenants-info {
  background-image: url(bgs/process-4-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-4-tenants-info:hover { opacity: 1;}


/*5*/
#process-step-5-tenants {
  background-image: url(bgs/process-5.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-5-tenants:hover {opacity: 0;}

#process-step-5-tenants-info {
  background-image: url(bgs/process-5-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-5-tenants-info:hover { opacity: 1;}




/*6*/
#process-step-6-tenants {
  background-image: url(bgs/process-6.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-6-tenants:hover {opacity: 0;}

#process-step-6-tenants-info {
  background-image: url(bgs/process-6-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-6-tenants-info:hover { opacity: 1;}




/*7*/
#process-step-7-tenants {
  background-image: url(bgs/process-7.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-7-tenants:hover {opacity: 0;}

#process-step-7-tenants-info {
  background-image: url(bgs/process-7-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-7-tenants-info:hover { opacity: 1;}


/*8*/
#process-step-8-tenants {
  background-image: url(bgs/process-8.svg);
  opacity: 1;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
}
#process-step-8-tenants:hover {opacity: 0;}

#process-step-8-tenants-info {
  background-image: url(bgs/process-8-tenants.jpg);
  opacity: 0;
  transition: .5s;  
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
  position: absolute;
    z-index: 10;
}
#process-step-8-tenants-info:hover { opacity: 1;}






#owner-portal-bg-image { background-image: url(bgs/owners-portal.jpg); height: 680px;}



@media (max-width: 1045px) {
  #owner-portal-bg-image {
    height: 840px;
  }
}

@media (max-width: 1280px) {
  #owner-portal-bg-image {
    background-position: center;
    background-size: cover;
    height: 840px;
  }
}

@media (max-width: 858px) {
  #owner-portal-bg-image {
    background-position: center;
    background-size: cover;
    height:300px;
  }
}

@media (max-width: 858px) {
  #owner-portal-text-block {
    width: 100%;
  }
}

@media (max-width: 858px) {
  #owner-portal-image-block {
    width: 100%;
    float: left;
  }
}

#palace-logo {
  position: relative;
  top: 12px;
  height: 34px;
  margin-left: 60px;
}

@media (max-width: 1269px) {
  #palace-logo {
  position: relative;
  display: block;
  top: 0;
  margin-top: 30px;
  height: 34px;
  margin-left: 0;
  }
}

@media (max-width: 858px) {
  #palace-logo {
  position: relative;
  top: 12px;
  height: 34px;
  margin-left: 60px;
  display: inline-block;
  margin-top: 0px;
  height: 34px;
  }
}

@media (max-width: 628px) {
  #palace-logo {
  position: relative;
  display: block;
  top: 0;
  margin-top: 30px;
  height: 34px;
  margin-left: 0;
  }
}








/*FORMS*/

form p {font-size: 22px;}

.input {
  height: 65px;
  width: calc(100% - 15px);
  display: block;
  box-sizing: border-box;
  background-color: white;
  border: 2px #e5eaec solid;
  margin-bottom: 30px;
  padding: 15px;
  font-family: "moderat", sans-serif;
  font-size: 22px;
  color: #FF4433;
  transition: .2s;
}

.input:hover { border: 2px #FF4433 solid; }
.input:active { border: 2px #FF4433 solid; }

.input:focus {
  border: 2px #FF4433 solid;
  outline: none;
}

.input::-webkit-input-placeholder { color: #CCCCCC; }
.input:-moz-placeholder { /* Firefox 18- */ color: #CCCCCC; }
.input::-moz-placeholder { /* Firefox 19+ */ color: #CCCCCC; }
.input:-ms-input-placeholder { color: #CCCCCC; }

@media (max-width: 1200px) {
  .input {
      width: 100%;
  }
}

@media (max-width: 1200px) {
  .input {
      width: 100%;
  }
}

.text-area {
  min-height: 160px;
  padding-top: 22px;
}

.submit {
  outline: none;
  border: 0px;
}

.submit:focus { outline: none; }









/*CONTACT PAGE*/
.contact-icon {
  height: 38px; 
  margin-bottom: 10px;
}

.contact-page-detail {
  color: #FF4433;
  font-size: 20px;
  font-family: "moderat-bold";
  display: inline-block;
}

.contact-page-detail:not(:last-child) {
  margin-right: 198px;
}

@media (max-width: 1469px) {
 .contact-page-detail:not(:last-child) {
  margin-right: 12%;
}
}

@media (max-width: 1270px) {
 .contact-page-detail:not(:last-child) {
  margin-right: 0px;
  width: 49%;
  display: inline-block;
}
}

@media (max-width: 1270px) {
 .contact-page-detail:first-child {
  margin-right: 0px;
  width: 49%;
  display: inline-block;
  margin-bottom: 40px
}
}

@media (max-width: 1270px) {
 .contact-page-detail:last-child {
  margin-right: 0px;
  width: 49%;
  display: inline-block;
}
}

@media (max-width: 650px) {
 .contact-page-detail:not(:last-child) {
  margin-right: 0px;
  width: 100%;
  display: inline-block;
  margin-bottom: 40px
}
}

@media (max-width: 650px) {
 .contact-page-detail:last-child {
  margin-right: 0px;
  width: 100%;
  display: inline-block;
}
}

/*  CONTACT GOOGLE MAP  */

#map {
  width: 100%;
  height: 500px;
  background-color: #FF4433;
  background-position: center;
}





/*PREFOOTER*/

.prefooter {width: 100%;}

.footer-button {
  text-align: center;
  color: #fff;
  height: 60px;
  margin: 0;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

.footer-button p {
  text-align: center;
  text-transform: uppercase;
  font-family: "moderat-bold";
  font-size: 15px;
  line-height: 60px;
}

#footer-button-listings {background-color: #595959;}
#footer-button-listings:hover {background-color: #5E5E5E;}
 
#footer-button-switch {background-color: #666666;}
#footer-button-switch:hover {background-color: #6B6B6B;}

.footer-action { 
  height: 340px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 138px 0;
}

@media (max-width: 1280px) {
  .footer-action {
    height: 240px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 88px 0;
  }
}


.footer-action .button {text-align: center;}

#request-appraisal {background-image: url(bgs/home-background-appraisal.jpg);}
#switch-haus {background-image: url(bgs/home-background-switch.jpg);}
#see-listings {background-image: url(bgs/home-background-listings.jpg);}
#login-portal {background-image: url(bgs/home-background-login.jpg);}




/*LINE DIVIDES*/

.line-divide {
  border-bottom: 1px solid #666666;
  margin: 0;
  padding: 0;
}



/*FOOTER*/

.social-icon {
  margin: 10px;
  height: 26px;
  display: inline-block;
  opacity: .5;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.social-icon:hover {
  opacity: 1;
}

#logo-footer {height: 60px;}

#foundry-footer-logo {
  width: 15px;
  vertical-align: middle;
  padding-bottom: 2px;
  margin-right: 4px;
  opacity: .5;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

#foundry-footer-logo:hover {opacity: 1;}

.footer-details p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 0;
  opacity: .5;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

@media (max-width: 768px) {
  .footer-details {
  }
}

.footer-details a {
  opacity: .5;
  transition: .2s;  
  transition-property:  all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.footer-details a:hover {opacity: 1;}

.footer-details img {display: inline-block;}


#strapline {
  font-size: 20px;
  font-family: "moderat-bold";
  text-transform: uppercase;
  opacity: 1;
}











